; begin auth token
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/registry/:username=ahd.rbraun@blainsupply.com
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/registry/:_password=a2pqNm1saGo3ZndsdW95Mm51eGNwd2thdTY3cmpycDNldnU2a2puYXl4MndyMmp4d2dycQ==
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/:username=ahd.rbraun@blainsupply.com
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/:_password=a2pqNm1saGo3ZndsdW95Mm51eGNwd2thdTY3cmpycDNldnU2a2puYXl4MndyMmp4d2dycQ==
//pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/blaincloud/shared-components-node/_packaging/shared-components-node/npm/registry/ 
                        
always-auth=true